.head1 {

   height: 50px;
   align-items: center;
   justify-content: center;
   margin-left: 250px;


}

.list {
   font-size: 25px;
   margin-left: 30px;
   margin-top: -20px;
}

.abc1 {
   height: 40px;
   margin-left: 25px;
   pointer-events: none;
   display: flex;
   text-emphasis-color: white;

}